@model DisplaySingleTravelPackageViewModel





<div class="container">
    <h2>@Model.PackageName</h2>
    <h6><em>posted by</em> @Model.TravelProviderName</h6>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <img class="img-rounded img-responsive" src="~/Media/TravelPackage/@Model.PackageName/@Model.PhotoLocation" />
            <div class="text-center" id="shareIcons">
                
               
            </div> 
            <div class="text-center">
                <a asp-controller="TravelPackage" asp-action="Delete" asp-route-id="@Model.TravelPackageId" class="btn btn-danger">Delete</a> <a asp-controller="TravelPackage" asp-action="Update" asp-route-id="@Model.TravelPackageId" class="btn btn-warning" role="button">Update</a>
                <a asp-controller="Booking" asp-action="Create" asp-route-id="@Model.TravelPackageId" class="btn btn-success" role="button">Book</a>
            </div>           
         </div>
        
            
            
            
       
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
            <h4>@Model.Location</h4>
            <p>@Model.PackageDescription</p>
            <p><strong>$@Model.PackagePrice</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table border="1">
                <tr>
                    <td>Booking Date</td>
                    <td>Number of People</td>
                    <td>Booking Name</td>
                    <td>Total Cost</td>
                </tr>
                
                @foreach (var item in @Model.Bookings)
                {
                    <tr>
                        <td>@item.BookingDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.People</td>
                        <td>@item.Name</td>
                        <td>$@item.TotalCost</td>
                   </tr>
                        }



</table>
        </div>
    </div>  
     
</div>
