@model DisplaySingleTravelPackageViewModel






<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <img id="PackageImg" class="img-responsive img-rounded" src="~/Media/TravelPackage/@Model.PhotoLocation" />
        </div>
        <div class="col-lg-4">
            <div class="row text-center">                
               
                <div class="col-lg-12 col-md-12">
                    <h2 class="text-center"><strong>@Model.PackageName</strong></h2>
                    <h6 class="text-center"><em>posted by</em> @Model.TravelProviderName</h6>
                    <h4 class="text-center"><i class="fa fa-map-marker localIcon" aria-hidden="true"></i> <strong>@Model.Location</strong></h4>
                    <h2><strong>$@Model.PackagePrice</strong></h2>
                    <p>@Model.PackageDescription</p>
                    <a id="BookBtn" asp-controller="Booking" asp-action="Create" asp-route-id="@Model.TravelPackageId" class="btn btn-success" role="button">Book Now</a>
                
                    <div class="text-center" id="shareIcons">


                    </div>

                    <div class="text-center">
                        @if (Model.UserName == User.Identity.Name || User.IsInRole("Admin"))
                        {
                            <a asp-controller="TravelPackage" asp-action="Delete" asp-route-id="@Model.TravelPackageId" class="btn btn-danger">Delete</a>
                            <a asp-controller="TravelPackage" asp-action="Update" asp-route-id="@Model.TravelPackageId" class="btn btn-warning" role="button">Update</a>


                        }

                    </div>
                    <div id="map"></div>
                    <div id="ReviewList">
                        <h4>Reviews</h4>
                        <ul id="commentList">
                            @foreach (var item in Model.Feedbacks)
                            {
                                <li>
                                    @for (int i = 1; i <= item.Rating; i++)
                                    {
                                        <span><i class="fa fa-star detailStars"></i></span>
                                    }
                                    <br />
                                    @item.Comment
                                    <ul>
                                        <li class="text-right"><i>Posted by </i>@item.UserName</li>
                                    </ul>
                                    <hr />
                                </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

      function initMap() {
          var location = {lat: @Model.latitude, lng: @Model.longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: location
        });
        var marker = new google.maps.Marker({
            position: location,
          map: map
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj-R9D3cBqhiuL4KiJIq8vcQ_nCHouQJQ&callback=initMap">
</script>

@*<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center"><strong>@Model.PackageName</strong></h2>
            <h6 class="text-center"><em>posted by</em> @Model.TravelProviderName</h6>
            <h4 class="text-center"><i class="fa fa-map-marker localIcon" aria-hidden="true"></i> <strong>@Model.Location</strong></h4>
            <p>@Model.PackageDescription</p>
        </div>
        <div class="col-md-4">
            <div class="text-center" id="shareIcons">


            </div> 
            <p><strong>$@Model.PackagePrice</strong></p>
            <div class="text-center">
                @if (Model.UserName == User.Identity.Name || User.IsInRole("Admin"))
                {
                    <a asp-controller="TravelPackage" asp-action="Delete" asp-route-id="@Model.TravelPackageId" class="btn btn-danger">Delete</a>
                    <a asp-controller="TravelPackage" asp-action="Update" asp-route-id="@Model.TravelPackageId" class="btn btn-warning" role="button">Update</a>


                }
                <a asp-controller="Booking" asp-action="Create" asp-route-id="@Model.TravelPackageId" class="btn btn-success" role="button">Book</a>
            </div>
            <ul>
                @foreach (var item in Model.Feedbacks)
                {
                    <li>
                        @for (int i = 1; i <= item.Rating; i++)
                        {
                            <span><i class="fa fa-star detailStars"></i></span>
                        }
                        <br />
                        @item.Comment
                        <ul>
                            <li><i>Posted by </i>@item.UserName</li>
                        </ul>
                        <hr />
                    </li>
                }
            </ul>
        </div>
    </div>
   

            @*<table border="1">
                <tr>
                    <td>Booking Date</td>
                    <td>Number of People</td>
                    <td>Booking Name</td>
                    <td>Total Cost</td>
                </tr>
                
                @foreach (var item in @Model.Bookings)
                {
                    <tr>
                        <td>@item.BookingDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.People</td>
                        <td>@item.Name</td>
                        <td>$@item.TotalCost</td>
                   </tr>
                        }



            </table>
     
     
</div>*@
