@model DisplayAllTravelPackagesViewModel

<div id="bgIndex" class="container"> </div>

<div class="container">
   

    <form class="form-inline text-center" asp-controller="TravelPackage" asp-action="Index" id="SearchForm">
        <input type="text" class="form-control" name="searchString" placeholder="Search Here..">
        <input type="number" class="form-control" name="minPrice" placeholder="Min Price">
        <input type="number" class="form-control" name="maxPrice" placeholder="Max Price">
        <input type="submit" class="btn btn-default" value="Search" />
    </form>

    
</div>
<div class="container-fluid" id="IndexContent">

    <h2 class="text-center">Number of Available Packages @Model.Total</h2>
    <div class="row">
        <div class="col-lg-10">



            @{
                int count = 1;
            }
            @foreach (var item in Model.TravelPackageList)
            {
                if (count % 4 == 0)
                {
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="thumbnail text-center">
                                <a asp-controller="TravelPackage" asp-action="Details" asp-route-id="@item.TravelPackageId"><img src="~/Media/TravelPackage/@item.PackageName/@item.PhotoLocation" class="IndexThumb" /></a>
                                <div class="caption">
                                    <h3>@item.PackageName</h3>
                                    <p>@item.Location</p>
                                    <p>@item.PackageDescription</p>
                                    <p>$@item.PackagePrice</p>
                                    <p><a asp-controller="TravelPackage" asp-action="Details" asp-route-id="@item.TravelPackageId" class="btn btn-primary" role="button">Details</a> <a asp-controller="TravelPackage" asp-action="Update" asp-route-id="@item.TravelPackageId" class="btn btn-warning" role="button">Update</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="thumbnail text-center">
                            <a asp-controller="TravelPackage" asp-action="Details" asp-route-id="@item.TravelPackageId"><img src="~/Media/TravelPackage/@item.PackageName/@item.PhotoLocation" class="IndexThumb" /></a>
                            <div class="caption">
                                <h3>@item.PackageName</h3>
                                <p>@item.Location</p>
                                <p>@item.PackageDescription</p>
                                <p>$@item.PackagePrice</p>
                                <p><a asp-controller="TravelPackage" asp-action="Details" asp-route-id="@item.TravelPackageId" class="btn btn-primary" role="button">Details</a> <a asp-controller="TravelPackage" asp-action="Update" asp-route-id="@item.TravelPackageId" class="btn btn-warning" role="button">Update</a></p>
                            </div>
                        </div>
                    </div>

                }
                count++;


            }
        </div>

    </div>

</div>
  
  