@model DisplayAllTravelPackagesViewModel

<h2>Number of Available Packages @Model.Total</h2>
<div class="row">
    @foreach (var item in Model.TravelPackageList)
    {

        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="~/Media/TravelPackage/TravelPackage1.jpg" />
                <div class="caption">
                    <h3>@item.PackageName</h3>
                    <p>@item.Location</p>
                    <p>@item.PackageDescription</p>
                    <p>$@item.PackagePrice</p>
                    <p><a asp-controller="TravelPackage" asp-action="Details" asp-route-id="@item.TravelPackageId" class="btn btn-primary" role="button">Details</a> <a asp-controller="TravelPackage" asp-action="Update" asp-route-id="@item.TravelPackageId" class="btn btn-warning" role="button">Update</a></p>
                </div>
            </div>
        </div>


    }

</div>