@model DisplayAllBookingsViewModel

<h2>Number of Bookings @Model.total</h2>

<table class="table table-striped">
    <tr>
        <th>Booking Date</th><th>Package Name</th><th>Number of People</th><th>Total Cost</th>
    </tr>
    @foreach (var item in Model.Bookings)
    {
        <tr>
            <td>@item.BookingDate.ToString("dd/MM/yyyy")</td>
            <td>@item.TravelPackageName</td>
            <td>@item.People</td>
            <td>$@item.TotalCost</td>
            <td><a asp-controller="Feedback" asp-action="Create" asp-route-id="@item.BookingId" class="btn btn-success" role="button">Add a Feedback</a></td>
        </tr>
    }
</table>